<h1>Segments</h1>
<p><%= link_to('New Segment', new_segment_path) %></p>

<% if @segments.empty? %>
<p>There are currently no disclaimer segments</p>
<% else %>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Documents</th>
    <th colspan="3">Action</th>
  </tr>
<%   @segments.each do |segment| %>
  <tr>
    <td><%= segment.name %></td>
    <td><%= segment.title %></td>
    <td><%= segment.documents.collect{|d| d.title}.join(', ') %>
    <td><%= link_to('Show', segment_path(segment)) %></td>
    <td><%= link_to('Edit', edit_segment_path(segment)) %></td>
    <td><%= link_to('Delete', delete_segment_path(segment)) %></td>
  </tr>
<%   end %>
</table>
<%  end %>