<h1>Disclaimer document</h1>

<%= form_for(@document) do |form| %>

<p>
  <%= form.label(:name) %><br/>
  <%= form.text_field(:name) %>
</p>

<p>
  <%= form.label(:title) %><br/>
  <%= form.text_field(:title) %>
</p>

<p>
  <%= form.label(:header) %><br/>
  <%= form.text_area(:header, :rows => 4) %>
</p>

<p>Segments</p>

<ul>
<% Disclaimer::Segment.all.each do |segment| %>
  <li>
   
    <%= check_box_tag(
          :segment_ids,  
          nil,  
          @document.segments.include?(segment),  
          :name => "document[segments][#{segment.id}]" 
        )
    %>
    
    <%= segment.name %>
  </li>
<% end %>
</ul>
<p>
  <%= form.label(:footer) %><br/>
  <%= form.text_area(:footer, :rows => 4) %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>

