<header>
  <h1><%= @document.title %></h1>
  <%= @document.header %>
</header>
<div id="articles">
<% @document.segments.each do |segment| %>

    <h3><%= segment.title %></h3>
    <div><%= segment.body %></div>

<% end %>
</div>
<footer>
  <%= @document.footer %>
  <%= form_for(@document, :url => accept_document_path(@document), :method => 'post') do |form| %>
    <%= form.submit('Accept') %>
  <% end %>
</footer>
